/* Coolors Exported Palette - coolors.co/f6511d-ffb400-00a6ed-7fb800-0d2c54 */

/* Coolors Exported Palette - coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-1985a1 */

/* HSL */
$color1: hsla(240%, 1%, 86%, 1);
$color2: hsla(280%, 3%, 77%, 1);
$color3: hsla(210%, 4%, 29%, 1);
$color4: hsla(206%, 16%, 35%, 1);
$color5: hsla(192%, 73%, 36%, 1);

/* RGB */
$color1: rgba(220, 220, 221, 1);
$color2: rgba(197, 195, 198, 1);
$color3: rgba(70, 73, 76, 1);
$color4: rgba(76, 92, 104, 1);
$color5: rgba(25, 133, 161, 1);

// /* HSL */
// $color1: hsla(14%, 92%, 54%, 1);
// $color2: hsla(42%, 100%, 50%, 1);
// $color3: hsla(198%, 100%, 46%, 1);
// $color4: hsla(79%, 100%, 36%, 1);
// $color5: hsla(214%, 73%, 19%, 1);
//
// /* RGB */
// $color1: rgba(246, 81, 29, 1); // background
// $color2: rgba(255, 180, 0, 1); // well background
// $color3: rgba(0, 166, 237, 1); // text
// $color4: rgba(127, 184, 0, 1); // text accent
// $color5: rgba(13, 44, 84, 1); // border and shadow
